// Animation d'apparition des "cards" pour les menus
@keyframes appear{
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}

// delais d'apparition des "cards" pour les menus
.delay1{
    animation-delay: 0.5s;
}

.delay2{
    animation-delay: 1s;
}

.delay3{
    animation-delay: 1.5s;
}

.delay4{
    animation-delay: 2s;
}

.delay5{
    animation-delay: 2.5s;
}

.delay6{
    animation-delay: 3s;
}

.delay7{
    animation-delay: 3.5s;
}

.delay8{
    animation-delay: 4s;
}

.delay9{
    animation-delay: 4.5s;
}



// Animation pour le soulignage des intitulés "entrées, plats, desserts"
@keyframes progress{
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}

// Animation pour les circles du loader

// Animation pour le remplissage du coeur "heart"
@keyframes fill{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}